<title>Stream-Comparison</title>
<head>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

</head>
<body>
    <div>
        <form id="form">
            <label for="text">Input: </label>
            <input type="text" id="text" autofocus>
          </form>
          <br>
          <div id="log"></div>
          
    </div>

    <div>
        <div>
            <h1>Socket Strean</h1>
            <button id="socketButton" onclick="startSocketStream()">Start</button>
            <button id="socketStopButton" onclick="stopSocketStream()">Stop</button>
            <hr>
        </div>
        <div>
            <image id="img" width="480"></image>
        </div>
    </div>
    <div>
        <div>
            <h1>RTSP Stream</h1>
            <button id="rtspButton" onclick="startRTSPStream()">Start</button>
            <button id="rtspStopButton" onclick="stopRTSPStream()">Stop</button>
            <hr>
        </div>
        <div>
            <input type="hidden" name="suuid" id="suuid" value="H264_AAC">
            <input type="hidden" name="port" id="port" value=":8083">
            <input type="hidden" id="localSessionDescription" readonly="true">
            <input type="hidden" id="remoteSessionDescription">
            <div id="remoteVideos">
                <video style="width:600px;" id="videoElem" autoplay muted controls></video>
            </div>
            <div id="div">

            </div>
        </div>
        
    </div>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Socket.IO 的 CDN 連結 -->

    <!-- WebRTC -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    
    <!-- Custom -->
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    
</body>