<title>Stream-Comparison</title>
<head>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <link href="static/css/index.css" rel="stylesheet">
</head>
<body>

    <div class="container">

        <div class="left">
            <h1>Socket Strean</h1>
            <div class="wid-full"> 
                <button id="socketButton" onclick="startSocketStream()">START</button>
                <button id="socketStopButton" onclick="stopSocketStream()">STOP</button>
            </div>
            <hr>
            <div class="wid-full">
                <image id="img" class="frame"></image>
            </div>
        </div>

        <div class="right">
            <h1>WebRTC Sample</h1>
            <div class="container">
                <div class="webrtc-left">
                    <button id="connectBt" onclick="connectStream()">CONNECT</button>
                    <button id="stopBt" onclick="stopStream()">STOP</button>
                </div>
                <div class="webrtc-right">
                    <input name="webrtc-url" id="webrtc-url" class="webrtcURL"
                    value="http://172.16.92.130:8083/stream/demo/channel/0/webrtc">
                </div>
            </div>
                
            <hr>
            <video id="webrtc-video" autoplay muted playsinline controls="false"
                class="frame"></video>
        </div>
        
    </div>

    

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Socket.IO 的 CDN 連結 -->

    <!-- WebRTC -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    
    <!-- Custom -->
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='webrtc.js') }}"></script>
    
</body>