<title>Stream-Comparison</title>
<head>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <link href="static/css/index.css" rel="stylesheet">
</head>
<body>

    <h1>Create RTSP and WebRTC</h1>

    <!-- WebRTC Control -->

    <!-- Control Source -->
    <div class="container wid-full">
        
        <div class="wid-2">
            <p>Source Name</p>
            <input type="text" id="source-name" value="default">
        </div>
        
        <div class="wid-2">

            <p>Source Type</p>
            <select id="source-type">
                <option>--- Select ---</option>
                <option value="V4L2">USB-Cam</option>
                <option value="RTSP">RTSP</option>
                <option value="File">File</option>
            </select>
        </div>

        <div class="wid-2">

            <p>Source</p>
            <div id="source-v4l2-div" class="" style="display: block">
                <select id="source-v4l2">
                    <option>--- Select ---</option>
                </select>
            </div>
            <div id="source-rtsp-div" style="display: none">
                <input id="source-rtsp" type="text" class="bg-light border-0" placeholder="" aria-label="source-rtsp">
            </div>
            <div id="source-file-div" style="display: none">
                <input type="file" accept="image/*,video/*" class="custom-file-input" data-target="source-file" id="source-file">
            </div>

        </div>

        <div class="wid-2">
            <p>Event</p>
            <button id="addSrcButton" onclick="addSrc()">Add</button>
            <button id="delSrcButton" onclick="delSrc()">Del</button>

        </div>
        
    </div>

    
    <h1>Compare Socket and WebRTC</h1>

    <!-- Select Source -->
    <div class="container wid-full">
        
        <div class="wid-3">
            <h2>1. Select Source</h2>
        </div>

        <div class="wid-7">
            <p>Source List</p>
            <div class="wid-full">
                <select id="stream-list">
                </select>  
            </div>    
        </div>
    </div>

    <hr>

    <!-- Compare -->
    <div class="container">

        <div class="left">
            <h2>2. Socket Strean</h2>
            <div class="wid-full"> 
                <button id="socketButton" onclick="startSocketStream()">START</button>
                <button id="socketStopButton" onclick="stopSocketStream()">STOP</button>
            </div>
            <div class="wid-full">
                <image id="img" class="frame"></image>
            </div>
        </div>

        <div class="right">
            <h2>WebRTC Sample</h2>
            <div class="container">
                <div class="wid-full">
                    <button id="connectBt" onclick="connectStream()">CONNECT</button>
                    <button id="stopBt" onclick="stopStream()">STOP</button>
                </div>
            </div>
                
            <video id="webrtc-video" autoplay muted playsinline controls="false"
                class="frame"></video>
        </div>
        
    </div>

    

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Socket.IO 的 CDN 連結 -->

    <!-- WebRTC -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    
    <!-- Custom -->
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='webrtc.js') }}"></script>
    
</body>